# clang intellisense
.clang_complete

# ignore directories
.directory
.svn
.vscode
.*/
**/release
**/build/*

# ignore files
*.patch
*.o

# include makefiles
!Makefile
!makefile
!*.mk
!*.make
!build/Makefile
!build/makefile
!build/*.mk
!build/*.make
!makerules

# ignore / include platformio
Deviot/
deviot.*
.travis.yml

# ignore sublime cache
Package Control*
PythonTestRunner*
Preferences.sublime-settings

# ignore sublime packages
SBSCompare*

# ignore sublime languages
R.sublime-settings
ARM Assembly.sublime-settings

